
.main-content

	.main-content__inner
		
		.top-line

			.top-line__inner

				.top-line__left

					.time-box
						p.time-box__time 12:30:45
						p.time-box__day Вторник
						p.time-box__date 30 января

					.order-count
						span.order-count__plus +3
						p.order-count__num 48
						p.order-count__descr Сегодня обработано


				.top-line__right

					.search-top
						.search-top__field
							input(type="search", name="")
						.search-top__icon
							+svg("search", "icon-svg")

					.notific-top
						.notific-top__icon
							+svg("ding", "icon-svg")
						.notific-top__count 5
						.notific-top__popup

					.user-top
						.user-top__ava
							img.user-top__ava-img(src="img/disp-ava.jpg", alt="user avatar")
						.user-top__descr
							p.user-top__name Анна Лисичкина
							p.user-top__prof Диспетчер

		.main-line

			.main-line__inner

				.main-line__left

					.call-header
						.call-header__inner
							.call-header__icon
								+svg("taxi", "icon-svg")
							.call-header__menu
								ul.call-header__menu-list
									li.call-header__menu-item Всего: #[span.call-header__menu-item-num.js_call-menu-item__all 10]
									li.call-header__menu-item.color-gray Оф-лайн: #[span.call-header__menu-item-num.js_call-menu-item__off 1]
									li.call-header__menu-item.color-green Свободные: #[span.call-header__menu-item-num.js_call-menu-item__free 4]
									li.call-header__menu-item.color-red На заказе: #[span.call-header__menu-item-num.js_call-menu-item__busy 5]


					.call-wrap

						.call-item
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Марина
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay.color-red
								p.call-item__delay-time 1 минута
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")


						.call-item.call-item--outbase
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Нет в базе
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay
								p.call-item__delay-time 40 секунд
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")

						.call-item
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Марина
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay.color-red
								p.call-item__delay-time 1 минута
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")


						.call-item.call-item--outbase
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Нет в базе
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay
								p.call-item__delay-time 40 секунд
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")

						.call-item
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Марина
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay.color-red
								p.call-item__delay-time 1 минута
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")


						.call-item.call-item--outbase
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Нет в базе
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay
								p.call-item__delay-time 40 секунд
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")

						.call-item
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Марина
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay.color-red
								p.call-item__delay-time 1 минута
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")


						.call-item.call-item--outbase
							.call-item__client
								.call-item__client-field
									p.call-item__client-name Нет в базе
								.call-item__client-field
									p.call-item__client-phone +375 29 555 77 00
								.call-item__client-field
									.rate
										span.rate-star.rate-star--full
										span.rate-star.rate-star--full
										span.rate-star.rate-star--half
										span.rate-star.rate-star--empt
										span.rate-star.rate-star--empt
							.call-item__delay
								p.call-item__delay-time 40 секунд
								p.call-item__delay-descr в ожидании
							.call-item__butn
								button.butn.butn--md.butn--blue
									span.butn-text Принять звонок
									.icon-call
										+svg("call-answer", "icon-svg")







				.main-line__right

					.main-line__header
						.main-line__header-wrap
							.main-line__header-menu
								ul.main-line__header-menu-list
									li.main-line__header-menu-item
										input#all.item-radio(type="radio" name="status" checked)
										label(for="all").item-label Всего
									li.main-line__header-menu-item
										input#off.item-radio(type="radio" name="status")
										label(for="off").item-label.color-gray Оф-лайн
									li.main-line__header-menu-item
										input#free.item-radio(type="radio" name="status")
										label(for="free").item-label.color-green Свободные
									li.main-line__header-menu-item
										input#busy.item-radio(type="radio" name="status")
										label(for="busy").item-label.color-red На заказе
							.main-line__header-switches
								.main-line__header-switch.main-line__header-switch--map.js_icon-map
									+svg("glob", "icon-svg")
								.main-line__header-switch.main-line__header-switch--list.js_icon-list
									+svg("list", "icon-svg")

					.main-line__ui.is-hidden

						.main-line__zoom
							.butn-zoom.butn-zoom--in
								+svg("zoom-in", "icon-svg")
							.butn-zoom.butn-zoom--out
								+svg("zoom-out", "icon-svg")

						.main-line__cars

							.car.car--busy#driver-001
								.car-time
									span.car-time__num 7
									span.car-time__unit мин
								.car-info
									.car-info__inner
										.car-info__model
											.model VW Golf
											.number 4465 TH-7
										.car-info__tariff Стандарт
										.car-info__driver
											.car-info__driver-ava
												img(src="img/driver-ava--1.jpg", alt="drivers avatar")
											.car-info__driver-meta
												.car-info__driver-meta-field
													h4.car-info__driver-meta-name Максим Волков
												.rate
													span.rate-star.rate-star--full
													span.rate-star.rate-star--full
													span.rate-star.rate-star--full
													span.rate-star.rate-star--half
													span.rate-star.rate-star--empt
										+span-angle("bottom")



							.car.car--free#driver-002
							.car.car--off#driver-003


					.main-line__drivers-list.is-visible

						.driver-info.is-busy
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-free
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-busy
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-free
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-busy
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-free
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-busy
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-free
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-busy
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-free
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-busy
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

						.driver-info.is-free
							.driver-info__tariff
								p.driver-info__tariff-text Стандарт
								h3.driver-info__tariff-carmodel Kia Rio
							.driver-info__number
								p.driver-info__number-text 9956 КМ-7
								p.driver-info__number-text Чёрный
							.driver-info__meta
								.driver-info__meta-ava
									img(src="img/driver-ava--1.jpg", alt="driver avatar")
								.driver-info__meta-fio
									h3.driver-info__meta-name Евгений
									h3.driver-info__meta-surname Иванов
							.driver-info__status.driver-info__status--visible
								.driver-info__status-time
									span.driver-info__status-time-num 7
									span.driver-info__status-time-unit минут
								.driver-info__status-state
									p.driver-info__status-state-text Выполняет заказ
							.driver-info__status.driver-info__status--hidden
								.driver-info__status-state
									p.driver-info__status-state-text Свободен

					.map-wrap#map.is-hidden