/*==================   MAIN-CONTENT   ==================*/

.main-content
	width: calc(100vw - 325px)
	background-color: #edf0f5

	&__inner

	.top-line
		background-color: #fff

		&__inner
			display: flex
			justify-content: space-between
			align-items: center
			height: 100px

		&__left
			display: flex
			align-items: center

		&__right
			display: flex
			align-items: center


/*==================   END MAIN-CONTENT   ==================*