/*==================   MAIN-CONTENT   ==================*/

.main-content
	width: calc(100vw - 325px)
	background-color: #edf0f5

	&__inner

	


	.top-line
		color: $color-text-dark
		background-color: #fff

		&__inner
			display: flex
			justify-content: space-between
			align-items: center
			height: 100px
			padding: 0 20px 0 10px

		&__left
			display: flex
			align-items: center

		&__right
			display: flex
			align-items: center

	


		.time-box
			



		.order-count
			position: relative
			display: flex
			align-items: center
			margin-left: 100px

			&__plus
				position: absolute
				top: 8px
				right: 100%
				color: $color-accent

			&__num
				font-size: 48px

			&__descr
				max-width: 105px
				margin-left: 10px




		.search-top
			margin-right: 30px

			&__field
				display: none

			&__icon
				+size(24px, 24px)
				cursor: pointer

				.icon-svg
					fill: #757575







		.notific-top
			position: relative
			margin-right: 50px

			&__icon
				+size(20px, 24px)
				cursor: pointer

				.icon-svg
					fill: $color-accent


			&__count
				position: absolute
				top: -7px
				left: 12px
				min-width: 20px
				height: 20px
				padding: 0 3px
				line-height: 20px
				text-align: center
				border-radius: 10px
				color: #fff
				background-color: $color-accent
				box-shadow: 0 0 9px 1px rgba(0, 171, 248, 0.3)







		.user-top
			display: flex
			align-items: center

			&__ava
				width: 75px
				margin-right: 25px
				+circle
				overflow: hidden

			&__name
				font-size: 16px

			&__prof
				font-size: 14px






	.main-line
		height: calc(100vh - 100px)
		overflow: hidden
		

		&__inner
			position: relative
			display: flex
			align-items: stretch		


		&__left	
			position: relative	
			width: 50%
			padding: 15px 10px 15px
			background-color: #edf0f5		
			height: calc(100vh - 100px)
			overflow-y: scroll	
	

			.call

				&-wrap


				&-header
					margin: 0 0 15px
					
					box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)
					z-index: 100

					&__inner
						display: flex
						align-items: center
						height: 50px
						padding: 0 25px	
						background-color: #fff

					&:after
						+pseudo //bg fix
						+size(calc(100%), 80px)
						top: -15px
						left: -10px
						background-color: #edf0f5					
						z-index: -10

					&__icon
						+size(50px, 22px)

						.icon-svg
							fill: #1e1e1e

					&__menu						

						&-list
							display: flex

						&-item
							font-size: 16px

							&-num
								font-size: 18px
								font-weight: 500



				

				&-item
					display: flex
					align-items: center
					justify-content: space-between
					min-height: 100px
					padding: 0 25px
					background-color: #fff

					&:not(:last-child)
						margin: 0 0 15px

					&__client

						&-name
							font-weight: 500

						






					&--outbase

						.call-item

							&__client

								&-name
									font-weight: 400

								&-rate
									display: none







		&__right
			position: relative
			width: 50%


			.map-wrap
				+size(100%, 100%)




		&__header
			position: absolute
			top: 15px
			left: 10px
			right: 20px	
			margin: 0 0 15px			
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)
			z-index: 100

			&-wrap
				display: flex
				align-items: center
				height: 50px
				padding: 0 25px	
				background-color: #fff


			&-icon
				+size(50px, 22px)

				.icon-svg
					fill: #1e1e1e

			&-menu						

				&-list
					display: flex

				&-item
					font-size: 16px

					&-num
						font-size: 18px
						font-weight: 500

			&-switches
				display: flex
				align-items: center

			&-switch
				cursor: pointer

				&:hover

					.icon-svg
						fill: $color-accent

				&--map
					+size(24px, 24px)

					.icon-svg
						fill: #000

				&--list
					+size(26px, 21px)

					.icon-svg
						fill: #000









/*==================   END MAIN-CONTENT   ==================*