/*==================   PROGECT THEME   ==================*/


*,*:after,*:before
	box-sizing: border-box
	

body
	position: relative
	min-width: 1024px
	
	font-family: $ff-main
	color: #1e1e1e
	font-size: 18px	
	line-height: 1.35	
	font-weight: 400
	
	text-rendering: optimizelegibility
	

.wrapper	
	overflow-x: hidden


svg
	height: 100%
	width: 100%
	
img, video
	display: block
	max-width: 100%

b
	font-weight: 700

a
	text-decoration: underline
	&:hover
		text-decoration: none

// h1
// 	font-size: 55px
// 	line-height: 1

// h2
// 	font-size: 36px
// 	line-height: 1

h3
	font-size: 18px
	line-height: 1




.hidden
	display: none



.clearfix
	&:after
		content: ''
		display: table
		clear: both
		overflow: hidden













/*==================   END PROGECT THEME   ==================*/