


$color-bg-dark:				#2e3e4f
$color-accent:				#00abf8

$color-gray:				#828282
$color-green:				#4caf50
$color-red:					#e64a19

$color-text-dark:			$color-bg-dark

$trp:					transparent

$ff-main:				-apple-system, BlinkMacSystemFont, "OpenSans", sans-serif

//"Open Sans"